<h2 style="text-align: {{ section.settings.title_aligment }}">{{ section.settings.title }}</h2>

<div style="display: flex; justify-content: center; gap: 20px; flex-wrap: wrap;">
  {% for block in section.blocks %}
    {% if block.type == 'promotion' %}
      <div style="display: flex; flex-direction: column; gap: 10px; width: 23%;">
        <h3 style="text-align: center">{{ block.settings.title }}</h3>
        {{ block.settings.image | img_url: width: 500 | img_tag }}
      </div>
    {% endif %}
  {% endfor %}
</div>


{% schema %}
{
  "name": "promotion-group",
  "tag": "section",
  "class": "my-wrapper-class",
  "settings": [
    {
      "type": "text",
      "label": "Title",
      "id": "title"
    },
    {
      "type": "select",
      "label": "Title alignment",
      "id": "title_aligment",
      "options": [
        {
          "value": "left",
          "label": "Left"
        },
        {
          "value": "center",
          "label": "Center"
        },
        {
          "value": "right",
          "label": "Right"
        }
      ],
      "default": "left"
    }
  ],
  "blocks": [
    {
      "type": "promotion",
      "name": "Promotion",
      "settings": [
        {
          "type": "text",
          "id": "title",
          "label": "Promotion Title"
        },
        {
          "type": "image_picker",
          "id": "image",
          "label": "Image"
        }
      ]
    }
  ],
  "presets": [
    {
      "name": "promotion group"
    }
  ]
}
{% endschema %}
