{{ 'test.css' | asset_url | stylesheet_tag }}

<div class="btn-container">
  {% assign data = collections.first.products %}
  {% for product in data %}
   <div class="btn-content">
    <img src="{{ product.images.first | image_url: width: 500, height: 500}}">
   <p>{{ product.title }}</p>
     <p>{{ product.price }} VND</p>
   </div>
  {% endfor %}
</div>

{% schema %}
{
  "name": "shopify-test",
  "tag": "section",
  "presets": [
    {
      "name": "shopify test"
    }
  ]
}
{% endschema %}
